header {
    height:84px;
    float: right;
    padding: 0px 0px 20px 0px;
    margin: 0px 30px 20px 10px;
    background:white;
    border-bottom: 1px solid gray;
    position:fixed;
    left: -10px;
    top:0px;
    width:100%;
}
#name {
    height:20px;
    width: 190px;
    margin: 50px 0px 0px 0px;
    padding: 20px 20px 15px 0px;
    right:20px;
    text-align: center;
    background-color: rgb(43, 209, 154);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    float: left;
}
.clearfix::after {
    content:"";
    display:block;
    clear:both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(43, 209, 154);
}
.body {
    margin: 12% 15% 15% 25%;
    background-color: solid white;
    color:gray;
    box-shadow: 1px 1px 1px 1px;
    float:right;
    width: 70%;
    height:600px;
    

}
.bio {
    background-color: white;
    text-align: left;
    line-height: 190%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:gray;
}
img.floatLeft {
    float: left;
    margin: 5px 15px 15px 15px;
    }
#links {
   position: relative;
   right: 10%;
   top:85%;
   float: right;
    }

body{ background-image: url("../images/roughcloth.png");
}
